:root {
  --p-color: #fff;
  --s-color: red;
  --dark: "black"
}

* {
  box-sizing: border-box;
  margin: 0;


}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
}



.logo {
  height: 60%;
  /* width: 100%; */
}

.header {
  background-color: var(--p-color);
  height: 72px;
  width: 100vw;
  display: flex;
  /* padding: 1rem; */
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-menu {
  display: flex;

  margin: 10px;
  /* flex-basis: 30%; */
  /* min-width: 800px; */
  justify-content: center;
  align-items: center;
}


.nav-menu>a {
  margin: 10px;
  text-transform: uppercase;
  color: gray;
  font-size: .8rem;


}

.btn-login {
  height: 30px;
  display: flex;
  align-items: center;
  background-color: red;
  color: white;
  border-radius: 0;
  justify-content: center;
}

.main-view {
  display: flex;
  background-color: var(--p-color);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 80%;

}

.text_content,
.image-product {
  flex-basis: 50%;
}

.text_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  color: black;
}

.title {
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.paragraph {
  color: grey;
  width: 70%;
  /* font-size: .8rem; */
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2rem;
  margin-bottom: 20px;

}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 60%;
}

.buttons>.btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  border: 1px;
  border-radius: 0;
  height: 100%;
  /* border: 2px solid grey; */
}

.shop {
  background-color: var(--s-color);
  border: none;
}

.buttons>.category {
  background-color: white;
  color: grey;
  border: 2px solid grey;

}

.image-product>img {
  height: 350px;
  filter: drop-shadow(30px 30px 10px #0000006c);
}