.Board{
    display: grid;
    /* margin-top: 300px; */
    grid-template-rows: repeat(3,100px);
    grid-gap: 5px;
    justify-content: center ;
    align-items: center;
    /* margin:auto; */
    min-height: 300px;
    min-height: 300px;
    /* border: 2px solid black; */
    /* border: 2px solid black; */

}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 2px solid black;  */
    align-items: center;
    height: 100px;
    width: 300px;
    /* gap: 4px; */
    /* margin: 2px; */
}
.columb{
    border: 2px solid black; 
    min-height: 100px;
    min-width: 100px;
    margin: 5px;
    background-color: rgba(128, 128, 128, 0.61);
}