.app {
  max-width: 1280px;
  min-height: 600px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-container {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.start-container img {
  /* flex-basis: 50%; */
  width: 50%;
  /* aspect-ratio: 1/1; */
}

.start-game {
  /* width: 50%; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  white-space: nowrap;
  /* text-wrap: nowrap; */
  flex-basis: 50%;
}

.start-game>h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 4rem;
  /* align-self: flex-end; */
}

.start-button {
  align-self: flex-end;
  /* margin-right: 40px; */
  font-size: 1.4rem;
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-transform: capitalize;
}




/* gameplay css */

.gameplay-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  gap: 10px;
}

ul>li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  border: 1px solid black;
}

ul>li.selected {
  background-color: black;
  color: aliceblue;
}

.dice-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 10px;
}

.dice-container>img {
  height: 200px;
  margin: 20px 0;
}

.btn {
  height: 30px;
  width: 200px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;

}

.btn-rules {
  background-color: black;
  color: white;
}

.rules {
  display: flex;
  background-color: rgba(185, 91, 235, 0.457);
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  max-width: inherit;
}

.rules>h2 {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.rules>p {
  /* margin-bottom: 10px; */
  text-transform: capitalize;
  font-size: 12px;
  padding: 2px;
}

.error {
  color: red;
}