.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 52px;

    padding: 20px;
    /* margin: 0 6px; */
}

.logo {
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px grey;
    margin-left: 70px;
}

.nav-menu {
    display: flex;

    /* margin: 10px; */
    /* flex-basis: 30%; */
    /* min-width: 800px; */
    justify-content: center;
    align-items: center;
}


.nav-menu>a {
    margin: 10px;
    text-transform: uppercase;
    color: gray;
    font-size: .8rem;


}